{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row" style="width: 25rem;">
    {% for menu in menu_list %}
    <div class="col-md-6 mb-4">
      <div class="card h-100">
    <img src="{{ menu.image.url }}" class="card-img-top img-fluid" alt="piece of meat grilled">
    <div class="card-body"> 
      <h5 class="card-title">{{ menu.dish_name }}</h5>
      <p>{{ menu.content | safe }}</p>
    </div>
    </div>
  </div>
    {% endfor %}

  </div>  

  
{% endblock %} 

            
                






