{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!--Menu entries by admin-->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for menu in menu_list %}
                <div class="col-md-4">
                    <div class="col-mb-4">
                        <div class="card-body">

                        </div>
                    </div>
                </div>   
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}