{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}
<section>
    <div class="container">
        {% if user.is_authenticated %}
        {% for reservation in object_list %}
        {% if request.user == reservation.user %}
        <h2>My Reservations: {{ user.username }}</h2>
        <ul>


            <li>
                Date: {{ reservation.reservation_date }} | Time: {{ reservation.reservation_time }} | Message: {{ reservation.message }}
                <a href="{% url 'update_reservation' reservation.pk %}">Update your reservation</a>
            </li>

            {% endif %}
        </ul>
        {% endfor %}

        {% endif %}
    </div>

    {% if request.resolver_match.url_name == 'update_reservation' %}
    <div class="container">
        <h2>Update reservation</h2>

        <p>{{ user.username }}</p>
        <form method="POST">
            {{ form.as_p }}

            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
        {% else %}
        <p>Please login at </p>
        {% endif %}
    </div>
</section>



{% endblock %} 
