{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}
<section>
    <div class="container">
        {% if user.is_authenticated %}
        {% for reservation in object_list %}
        {% if request.user == reservation.user %}
        <h2>My Reservations: {{ user.username }}</h2>
        <ul>


            <li>
                Date: {{ reservation.reservation_date }} | Time: {{ reservation.reservation_time }} | Message: {{ reservation.message }}
            </li>

            {% endif %}
        </ul>
        {% endfor %}

        {% endif %}
    </div>
</section>



{% endblock %} 
