{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}
<section>
    <div class="container">
        {% if user.is_authenticated %}
        <h2>My Reservations: {{ user.username }}</h2>
        <ul>
            {% for reservation in user_reservations %}

            <li>
                Date: {{ reservation.reservation_date }} | Time: {{ reservation.reservation_time }}
            </li>

            {% endfor %}
        </ul>

        {% endif %}
    </div>
</section>



{% endblock %} 
