{% extends 'base.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}

<section>
    <div class="container">

        {% if user.is_authenticated %}
        <h2>Make a reservation</h2>

        <p>{{ user.username }}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}

          
            <div>
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li> {% if message.tags %} {{ message }} {% endif %}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
          


            <button type="submit">Submit</button>
        </form>
        {% else %}
        <p>Please login at </p>
        {% endif %}
    </div>
</section>



{% endblock %} 
